.header-text{
    padding-left: 30px;
}
.logo-size{
    margin-left: 20px;
}
.header-top-text{
    background-color: #88919c;
}
.header-top-text b{
    margin-left: 320px;
}
.carousel-size{
    margin-top: 60px;
    margin-bottom: 120px;
}
div a{
    text-decoration: none;
}