.footer-bg {
    background-color: #919ba6;
  }
  .footer a {
    text-decoration: none;
    color: #fff;
  }
  .input-field{
      background-color: #8c949e;
  }
  .footer-text {
    background-color: #8c949e;
  }
  .news-latter {
    background-color: #aab5c0;
    padding-top: 80px;
    padding-bottom: 80px;
    
  }
  .custom-color {
    background-color: #1b9c59;
  }
  